/* CSS Document */

/* General */
html {
  position: relative;
  min-height: 100%;
}
#main {margin-top: 5rem;}
body {margin-bottom: 12rem;}
h1 {font-size:2rem;}


/* Menu */
.navbar-inverse .navbar-toggler {
	border:none;
}
nav button i {color:#E6E6E6;}
nav button i:hover {color:#FFFFFF;}
ul .navbar-nav {white-space:nowrap;width:100%;}
.navbar-brand {margin-right:1rem;margin-left:0rem;}
.navbar-brand img {height:2.5rem;}
.nav-item, .navbar-text {display:inline-block;white-space:nowrap;}
.navbar-inverse .navbar-nav .nav-link {
	font-size    : 1.2rem;
	color        : #E6E6E6;
	padding-left : 1rem;
	padding-right: 1rem;
}
#badgePanier {background-color:#459145;color::#E6E6E6;}
.nav-link:hover #badgePanier  {background-color:#5cb85c;color:#FFFFFF;}


.navbar-inverse .navbar-nav .nav-link:hover {color:#FFFFFF;text-decoration:underline;}

/* Pied */
#pied {font-size: 1.1rem; color:#6E6E6E; background-color:#F2F2F2; }
#pied i {color:#6E6E6E;}
#pied i:hover {text-decoration:underline; color:#000000;}
#retourHaut {font-size: 1.2rem}
.footer {
	width:100%;
  position: absolute;
  bottom: 0;
}

/* index */
li>a.card-link, p.card-text {font-size: 1.1rem;}
.indexImg {max-height:20rem;}
.specImg {max-width:20rem;}
.card {min-width:11rem;}
.card, .list-group-item {border: none;}
a.card-link {color:#000000;}
a.card-link:hover {text-decoration:underline;}
#btnTaillePolice {position:fixed;top:40%;right:0.5rem; z-index:1;}

/* connexion */
#cardConnexion {max-width:26rem;}
/* Programmation */
.custom-select {min-width: 10rem;}
/* Réservation */
/* Infos */

/* Google Font */
/* Rules for sizing the icon. */
.material-icons { font-size: 1; vertical-align: middle; }
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }
/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }